# Arquivos auxiliares gerais do LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Bibliografia e Glossários
*.bbl
*.bcf
*.blg
*.run.xml
*.syx
*.abx

# Arquivos de editores (VS Code, TeXstudio, etc)
.vscode/
*.swp

# Ignorar PDFs gerados durante o rascunho (descomente se quiser)
# *.pdf